    body{    /*元素选择器*/
         text-align: center;
     }

    .level{
        margin-top: 30px;
        font-size: 18px;
    }

    .level button{
          padding: 3px 8px; /*padding 依次是上 右 下 左   如果只有两个就是上下 左右*/
          background: skyblue;
          border: none; /*设置为none 否则按钮周围由阴影*/
          color: white;
          border-radius: 10px; /*border 四个角的圆半径*/
          outline: none; /*去掉在元素周围方框*/
      }

    .level button:hover{/*tip： 当光标放在按钮上 按钮有浮动感 可以使用这个选择器*/
        background: rgb(23, 132, 138);
        cursor: pointer; /*鼠标放到元素上 光标的形状*/
    }

    .img-flag {
        position: absolute;
        top: 1.5px;
        left: 2.4px;
        width: 18px;
        height: 18px;
    }

    .col {
        display: inline-block; /*这个属性很重要 将原本成列的li 成行内块元素放置  使其既能成行排列 又具有块元素的特性*/
        border: 1px solid rgb(129, 129, 129);
        background: rgba(32, 226, 255, 0.41);
        margin: 1.5px;
        width: 23px;
        height: 23px;
        position: relative;
    }

    .col span {
        display: inline-block;/* 改成行内块元素就可以让每一个span都在同一行 */
        position: relative;
        top: 1px;
        font-weight: bold;
        opacity: 0; /*设置 div 元素的不透明级别  tip:通过改变透明度隐藏某些东西*/
    }

    .row{
        margin: 0;
        padding: 0;
    }

    .game{
    margin-top: 30px;
    }

    /*控制旗帜的隐藏和显示*/
    .hide{
       display:none;/*当设置为none时，旗子不会被显示*/
   }

   /*鼠标放到格子上 格子变色*/
    .col:hover{
        background: greenyellow;
    }





    /*数字的颜色*/
    /*.js中添加的html代码 之所以在class中 添加num- 作用就在于控制数字颜色*/
    .num-1{
         color: darkgray;
     }

    .num-2{
        color: lightgreen;
    }

    .num-3{
        color: hotpink;
    }

    .num-4{
        color: darkgoldenrod;
    }

    .num-5{
        color: blueviolet;
    }

    .num-6{
        color: darkorange;
    }

    .num-7{
        color: brown;
    }

    .num-8{
        color: brown;
    }



